*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.service-container{
    display: flex;
    gap: 10px;
}

.service-card{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    width: 250px;
    margin: 10px;
    text-align: center;
}

.service-card h2{
    color: #1eceff;
    margin-bottom: 18px;
}

.service-card p{
    opacity: 0.7;
}